.edit
  .edit__thumbnail
    ここにサムネイルが表示される予定
  %form.edit__form{:action => "#"}
    %table.edit__form__table
      %tr
        %th 動画URL
        %td{colspan: "3"}
      %tr
        %th 区分
        %td
        %th 曲タイトル
        %td
      %tr
        %th 種目・アイテム
        %td
        %th アーティスト
        %td
      %tr
        %th 学生／プロ・アマ
        %td
        %th 出演・受賞
        %td
      %tr
        %th 演者名
        %td
        %th タグ
        %td
    .edit__form__submits
      .edit__form__submits__update
        = button_tag type: "submit", class: "edit__form__submits__update__btn" do
          = icon("fas", "retweet", class: "edit__form__submits__update__btn__update-icon")
          更新
      .edit__form__submits__delete
        = button_tag type: "submit", class: "edit__form__submits__delete__btn" do
          = icon("fas", "trash-alt", class: "edit__form__submits__delete__btn__delete-icon")
          削除