.search
  %form.search__form{:action => "#"}
    %table.search__form__table
      %tr
        %th 区分
        %td
      %tr
        %th 種目
        %td
      %tr
        %th 学生／プロ・アマ
        %td
      %tr
        %th 演者名
        %td
      %tr
        %th 曲タイトル
        %td
      %tr
        %th アーティスト
        %td
      %tr
        %th 出演・受賞
        %td
      %tr
        %th タグ
        %td
    .search__form__submit
      = button_tag type: "submit", class: "search__form__submit__btn" do
        = icon("fas", "search", class: "search__form__submit__btn__search-icon")
        検索

.result
  .result__movie
    .result__movie__thumbnail
      /%iframe#player{frameborder: "0", height:"390", src: "https://www.youtube.com/embed/iDWG3av03So", type: "text/html", width: "640"}
      サムネイルがここに入ります
    %table.result__movie__information
      %tr
        %th 区分
        %td
        %th 曲タイトル
        %td
      %tr
        %th 種目・アイテム
        %td
        %th アーティスト
        %td
      %tr
        %th 学生／プロ・アマ
        %td
        %th 出演・受賞
        %td
      %tr
        %th 演者名
        %td
        %th タグ
        %td
  .result__movie
    .result__movie__thumbnail
      /%iframe#player{frameborder: "0", height:"390", src: "https://www.youtube.com/embed/iDWG3av03So", type: "text/html", width: "640"}
      サムネイルがここに入ります
    %table.result__movie__information
      %tr
        %th 区分
        %td
        %th 曲タイトル
        %td
      %tr
        %th 種目・アイテム
        %td
        %th アーティスト
        %td
      %tr
        %th 学生／プロ・アマ
        %td
        %th 出演・受賞
        %td
      %tr
        %th 演者名
        %td
        %th タグ
        %td
  .result__movie
    .result__movie__thumbnail
      /%iframe#player{frameborder: "0", height:"390", src: "https://www.youtube.com/embed/iDWG3av03So", type: "text/html", width: "640"}
      サムネイルがここに入ります
    %table.result__movie__information
      %tr
        %th 区分
        %td
        %th 曲タイトル
        %td
      %tr
        %th 種目・アイテム
        %td
        %th アーティスト
        %td
      %tr
        %th 学生／プロ・アマ
        %td
        %th 出演・受賞
        %td
      %tr
        %th 演者名
        %td
        %th タグ
        %td