.new
  .new__thumbnail
    ここにサムネイルが表示される予定
  %form.new__form{:action => "#"}
    %table.new__form__table
      %tr
        %th 動画URL
        %td{colspan: "3"}
      %tr
        %th 区分
        %td
        %th 曲タイトル
        %td
      %tr
        %th 種目・アイテム
        %td
        %th アーティスト
        %td
      %tr
        %th 学生／プロ・アマ
        %td
        %th 出演・受賞
        %td
      %tr
        %th 演者名
        %td
        %th タグ
        %td
    .new__form__submit
      = button_tag type: "submit", class: "new__form__submit__btn" do
        = icon("fas", "plus", class: "header__add-movie__btn__plus-icon")
        登録
