.show
  .show__thumbnail
    ここにサムネイルが表示される予定
  %table.show__table
    %tr
      %th 動画URL
      %td{colspan: "3"}
    %tr
      %th 区分
      %td
      %th 曲タイトル
      %td
    %tr
      %th 種目・アイテム
      %td
      %th アーティスト
      %td
    %tr
      %th 学生／プロ・アマ
      %td
      %th 出演・受賞
      %td
    %tr
      %th 演者名
      %td
      %th タグ
      %td
