// 変数を置いておく

// 色定義
$color-1289A7 : #1289A7;
$color-9ca24 : #f9ca24;
$color-ffffff : #ffffff;
$color-dfe6e9 : #dfe6e9;
$color-eb4d4b : #eb4d4b;
$color-4834d4 : #4834d4;
$color-535c68 : #535c68;

// フォーム（検索、登録、編集）
@mixin video_form($width, $height){
  margin: 0 auto;
  background-color: $color-ffffff;
  width: $width;
  height: $height;
}

// 角丸テーブル（動画情報入力用）
@mixin round_table($th_h, $th_w, $td_h, $td_w){
  border: 3px solid $color-1289A7;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  tr{
    th{
      width: $th_w;
      height: $th_h;
      padding-left: 10px;
      background-color: $color-1289A7;
      color: $color-ffffff;
      border-bottom: 1px solid $color-dfe6e9;
      border-right: 3px solid $color-1289A7;
    }
    td{
      width: $td_w;
      height: $td_h;
      background-color: $color-ffffff;
      border-bottom: 1px solid $color-dfe6e9;
    }
    &:first-child td{
      border-radius: 0 10px 0 0;
    }
    &:last-child th{
      border-bottom: none;
    }
    &:last-child td{
      border-radius: 0 0 10px 0;
      border-bottom: none;
    }
  }
}

// 各ページのサブミットボタン（背景色とフォントカラーを指定）
@mixin submit_button($back_color, $font_color) {

  // ボタン配置用のdivのスタイル
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;

  // ボタンデザイン
  &__btn{
    -webkit-appearance: none;
    background-color: $back_color;
    color: $font_color;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
    text-align: center;
  }
  
}
