@import "common";

// 検索条件入力エリア
.search{
  background-color: $color-ffffff;
  width: 100%;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 15px;
  overflow: scroll;

  // フォーム
  &__form{
    @include movie_form(800px, 420px);

    // 入力用テーブル
    &__table{
      @include round_table(40px, 150px, 40px, 650px);
    }
    // 検索ボタン用div
    &__submit{
      width: 200px;
      margin: 0 auto;
      margin-top: 15px;

      // 検索ボタン
      &__btn{
        -webkit-appearance: none;
        background-color: $color-9ca24;
        color: $color-ffffff;
        border: none;
        height: 50px;
        width: 200px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

// 検索結果一覧エリア
.result{
  background-color: $color-dfe6e9;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  // 動画情報１件分
  &__movie{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: $color-ffffff;
    
    // サムネイル表示エリア
    &__thumbnail{
      height: 180px;
      width: 320px;
      margin-right: 15px;

      border: 2px solid black;
      text-align: center;
      line-height: 180px;

    }

    // 動画情報用テーブル
    &__information{
      th{
        height: 45px;
        width: 150px;
        text-align: end;
        padding-right: 15px;
      }
      td{
        height: 45px;
        width: 270px;
        border-bottom: solid 1px $color-dfe6e9;
      }
    }
  }
}