@import "common";

// 新規登録画面
.edit{
  background-color: $color-ffffff;
  width: 100%;
  height: calc(100vh - 70px);
  padding-top: 30px;

  // サムネ表示エリア
  &__thumbnail{
    width: 320px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 30px;

    border: blue solid 1px;
    text-align: center;
    line-height: 180px;
  }

  &__errors{
    margin: 30px auto;
    width: 1000px;
    height: 40px;
    background-color: $color-eb4d4b;
    color: $color-ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
  }

  // フォーム
  &__form{
    @include movie_form(1200px, 420px);
    
    // 入力用テーブル
    &__table{
      // thの高さ、幅、tdの高さ、幅
      @include round_table(40px, 150px, 40px, 350px);
      margin: 0 auto;

      input[type="text"]{
        width: 99%;
        line-height: 40px;
        border: none;
        outline: none;
        padding-left: 10px;
        padding-right: 5px;
        font-size: 18px;
      }
      td.category{
        text-align: center;
        padding-right: 30px;
      }
      td.performer_status{
        text-align: center;
        // padding-right: 30px;
      }
  
      input[type="radio"]{
        line-height: 40px;
        font-size: 18px;
        margin: 0px 5px;
        
      }
    }

    // 更新ボタンと削除ボタンを横並びにする
    &__submits{
      display: flex;
      margin: 0 auto;
      width: 700px;

      // 更新ボタンエリア
      &__update{
        @include submit_button($color-9ca24, $color-ffffff);
      }

      // 削除ボタンエリア
      &__delete{
        @include submit_button($color-eb4d4b, $color-ffffff);
      }
    }
  }
}