// 色定義
$color-1289A7 : #1289A7;
$color-9ca24 : #f9ca24;
$color-ffffff : #ffffff;
$color-dfe6e9 : #dfe6e9;

// フォーム（検索、登録、編集）
@mixin movie_form(){
  margin: 0 auto;
  background-color: $color-ffffff;
  width: 800px;
  height: 420px;
}

// 角丸テーブル（動画情報入力用）
@mixin round_table(){
  border: 3px solid $color-1289A7;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  tr{
    th{
      width: 150px;
      height: 40px;
      padding-left: 10px;
      background-color: $color-1289A7;
      color: $color-ffffff;
      border-bottom: 1px solid $color-dfe6e9;
      border-right: 3px solid $color-1289A7;
    }
    td{
      width: 650px;
      height: 40px;
      background-color: $color-ffffff;
      border-bottom: 1px solid $color-dfe6e9;
    }
    &:first-child td{
      border-radius: 0 10px 0 0;
    }
    &:last-child th{
      border-bottom: none;
    }
    &:last-child td{
      border-radius: 0 0 10px 0;
      border-bottom: none;
    }
  }
}

// 検索条件入力エリア
.search{
  background-color: $color-ffffff;
  width: 100%;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 15px;
  overflow: scroll;

  // フォーム
  &__form{
    @include movie_form();
    // 入力用テーブル
    &__table{
      @include round_table()
    }
    // 検索ボタン用div
    &__submit{
      width: 200px;
      margin: 0 auto;
      margin-top: 15px;

      // 検索ボタン
      &__btn{
        -webkit-appearance: none;
        background-color: $color-9ca24;
        color: $color-ffffff;
        border: none;
        height: 50px;
        width: 200px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

// 検索結果一覧エリア
.result{
  background-color: $color-dfe6e9;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  // 動画情報１件分
  &__movie{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: $color-ffffff;
    

    // サムネイル表示エリア
    &__thumbnail{
      height: 180px;
      width: 320px;
      margin-right: 15px;

      border: 2px solid black;
      text-align: center;
      line-height: 180px;

    }

    // 動画情報用テーブル
    &__information{
      
      
      th{
        height: 45px;
        width: 150px;
        text-align: end;
        padding-right: 15px;


      }
      td{
        height: 45px;
        width: 270px;
        border-bottom: solid 1px $color-dfe6e9;
      }

    }

  }

}

// 新規登録画面
.new{
  background-color: $color-ffffff;
  width: 100%;
  height: calc(100vh - 70px);
  padding-top: 30px;

  // フォーム
  &__form{
    @include movie_form();
    
    // 入力用テーブル
    &__table{
      @include round_table()
    }

    // 登録ボタン用div
    &__submit{
      width: 200px;
      margin: 0 auto;
      margin-top: 15px;

      // 登録ボタン
      &__btn{
        -webkit-appearance: none;
        background-color: $color-9ca24;
        color: $color-ffffff;
        border: none;
        height: 50px;
        width: 200px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}