@import "reset";
@import "modules/movie_index";
@import "modules/movie_new";
@import "modules/movie_edit";
@import "modules/movie_show";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/user";



// 色定義
$color-1289A7 : #1289A7;
$color-9ca24 : #f9ca24;
$color-ffffff : #ffffff;
$color-dfe6e9 : #dfe6e9;

* {
  box-sizing: border-box;
  font-family: "arial";
}

a {
  text-decoration: none;
}

// ヘッダー
.header{
  background-color: $color-1289A7;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;

  &__index-link{
    font-size: 24px;
    color: $color-ffffff;
  }
  &__appname{
    display: flex;
    &__icon{
      font-size: 40px;
      line-height: 70px;
      margin-right: 5px;
    }
    &__name{
      height: 70px;
      line-height: 70px;
    }
  }

  
  

  &__internal{
    height: 40px;
    width: 940px;
    display: flex;
    justify-content: space-between;

    &__screen-name{
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      color: $color-ffffff;
    }

    &__user{
      text-align: center;
      height: 40px;
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      

      &__name{
        display: inline-block;
        font-size: 20px;
        color: $color-ffffff;
        margin-right: 10px;
        &__icon{
          margin-right: 5px;
        }
      }
      &__sign-out{
        display: inline-block;
        padding: 0 5px;
        font-size: 15px;
        color: $color-ffffff;
        line-height: 40px;
      }
    }
  }
  
  // 登録ボタン
  &__add-movie{
    &__btn{
      display: inline-block;
      background-color: $color-9ca24;
      color: $color-ffffff;
      border: none;
      height: 40px;
      width: 150px;
      font-size: 17px;
      text-align: center;
      line-height: 40px;
      margin-right: 30px;
    }
  }
}
// ヘッダー下部調整用
.contents{
  padding-top: 70px;

}